<div class="p-4 grid grid-cols-2 gap-8">
  <!-- To Buy List -->
  <div class="shadow-md px-1 space-x-6">
    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">Current List</h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Items Currently in Basket</p>
    </div>
    <ul class="text-sm font-medium leading-6 text-gray-900">
      <li class="divide-y divide-gray-100 mb-2 flex items-center" *ngFor="let item of shoppingList">
        <button (click)="delete(item)" class="px-2 py-1">
          <i class="fa-solid fa-circle-minus" style="color: #c2c7d1;"></i>
        </button>
        <i *ngIf="item.isImportant" class="fas fa-star text-yellow-500 mr-2"></i>
        <span [class.font-bold]="item.isImportant">{{ item.name }}</span>
        <div class="ml-auto space-x-2">
          <div class="inline-flex rounded-md shadow">
            <button *ngIf="!item.isImportant" (click)="markAsImportant(item)" class="px-2 py-1 bg-blue-500 text-white hover:bg-blue-600">
              Mark as Important
            </button>
            <button (click)="moveToPreviouslyBought(item)" class="px-2 py-1 bg-green-500 text-white hover:bg-green-600">
              Move
            </button>

          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Previously Bought List -->
  <div class="shadow-md px-1 space-x-6">
    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">Previous List</h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Items Previously brought</p>
    </div>
    <ul class="text-sm font-medium leading-6 text-gray-900">
      <li class="divide-y divide-gray-100 mb-2 flex items-center" *ngFor="let item of previouslyBoughtList">
        <i *ngIf="item.isImportant" class="fas fa-star text-yellow-500 mr-2"></i>
        <span [class.font-bold]="item.isImportant">{{ item.name }}</span>
        <div class="ml-auto space-x-2">
          <div class="inline-flex rounded-md shadow">

            <button (click)="copyToBuy(item)" class="px-2 py-1 bg-blue-500 text-white hover:bg-blue-600 ">
              Move
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<form (submit)="addItem()" class="flex items-center mt-4">
  <input type="text"
         [(ngModel)]="newItemName"
         placeholder="Item name"
         [ngModelOptions]="{ standalone: true }"
         class="flex-1 mr-2 px-4 py-2 rounded border" />
  <button type="submit"
          class="px-4 py-2 rounded bg-green-500 text-white hover:bg-green-600">
    Add
  </button>
</form>
